.tech-stack {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 8%;
}

#tech-stack-text {
    color: white;
    width: 400px;
    line-height: 20px;
    font-size: 12px;
}

.stack-illustration {
    padding-left: 5%;
}

.label-stack {
    font-size: 10px;
    color: var(--text-light);
}

.tech-row {
    display: flex;
    flex-wrap: wrap;
}