.tech-stack {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 8%;
}

.tech {
    padding: 5px;
    margin-bottom: 15px;
    max-width: max-content;
    margin-right: 15px;
    border-radius: 6px;
    background-color: var(--primary-green);
    transition: 0.5s;
}

.tech-icon {
    background-color: transparent;
}

.tech:hover {
    cursor: default;
    background-color: white;
    box-shadow: 0px 0px 10px var(--primary-green);
}


.tech-label {
    color: black;
    background-color: transparent;
    font-size: 14px;
    padding-right: 15px;
    padding-left: 10px;
}

#tech-stack-text {
    color: white;
    width: 400px;
    line-height: 20px;
    font-size: 12px;
}

.stack-illustration {
    padding-left: 5%;
}

.label-stack {
    font-size: 10px;
    color: var(--text-light);
}

.tech-row {
    display: flex;
    flex-wrap: wrap;
}