@media only screen and (min-width:2559px) {

    .tag-wrapper {
        padding-top: 10%;
        padding-left: 10%;
    }

    #chip {
        width: 20em;
        height: 3em;
    }

    .tag-title {
        font-size: 22px;
    }

    .name {
        padding-top: 1%;
        padding-left: 10%;
    }

    #first-name,
    #last-name {
        font-size: 102px;
        height: 1.75em;
    }

    .tag {
        padding-top: 2%;
        padding-left: 10%;
        display: flex;
    }

    #tag {
        color: white;
        padding-left: 1%;
        font-size: 25px;
    }

    .trianlge-right {
        margin-top: 3px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-left: 25px solid var(--primary-green);
        border-bottom: 15px solid transparent;
    }

    .flexbox-container {
        padding-top: 2%;
    }

    .social-icon-wrapper {
        height: 68px;
        margin-left: 1.5%;
        font-size: 28px;
    }

    .grad-circle {
        top: 35%;
        right: 7%;
    }

    .dash {
        margin-left: 10%;
        background-color: rgb(148, 148, 148);
        height: 1px;
        width: 15em;
    }

    .chat {
        padding-top: 3%;
    }

    #chat-btn {
        padding-left: 10%;
        font-size: 28px;
    }

    .stats-div {
        position: absolute;
        padding-left: 7%;
        bottom: 3%;
    }

    .stats {
        display: flex;
        background-color: transparent;
    }

    .stats-data {
        padding-left: 10%;
    }

    .stats-label-column {
        padding-left: 6%;
    }

    .value {
        font-size: 52px;
    }

    .stats-label {
        width: max-content;
        font-size: 20px;
    }

    .stats-data {
        padding-top: 5%;
    }

    .dp {
        height: 800px;
    }
}