#chip {
    background-color: var(--primary-green);
    width: 10em;
    height: 2em;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.tag-title {
    background-color: transparent;
}

.name {
    color: white;
}

#first-name {
    letter-spacing: 7px;
    font-weight: 200;
}

#last-name {
    font-weight: bold;
}

.flexbox-container {
    display: flex;
    align-items: center;
}

.social-icon-wrapper {
    margin-left: 3%;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 18px;
    border-radius: 50%;
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    background-color: transparent;
    color: var(--primary-green);
}

.chat {
    width: 100%;
}

#chat-btn {
    color: var(--primary-green);
    text-decoration: underline;
    text-underline-offset: 10px;
    letter-spacing: 2px;
    font-weight: 700;
}

.value {
    color: white;
    font-size: 24px;
    font-weight: 400;
    background-color: transparent;
}

.stats-label-column {
    background-color: transparent;
}

.stats-label {
    color: var(--text-light);
    letter-spacing: 1px;
    background-color: transparent;
}

.image-bg-div {
    overflow: hidden;

}

.dp {
    background-color: transparent;
}