#app-navbar {
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 6%;
}

#navbar-icon {
    border-color: transparent;
}

.navbar-action {
    width: 120px;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark);
    height: 60px;
}

.foot-text {
    color: white
}

.foot-name {
    margin-left: 5px;
    color: var(--primary-green);
}