@media only screen and (min-width:1202px) and (max-width:1400px) {

    .space {
        padding-top: 18%;
    }

    .cw-stats-row {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 900px) {
    .grad-circle {
        visibility: hidden;
    }

    .circle {
        visibility: hidden;
    }

    .cw-stats-row {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    .cw-info {
        width: 90%;
    }
    
    .cw-stats-row {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}