@media only screen and (min-width:1202px) and (max-width:1400px) {

    .space {
        padding-top: 18%;
    }
}

@media only screen and (max-width: 900px) {
    .grad-circle {
        visibility: hidden;
    }

    .circle {
        visibility: hidden;
    }
}