@media only screen and (min-width: 320px) and (max-width: 400px) {
    #app-navbar {
        padding-left: 2%;
    }

    #brand {
        font-size: calc(14px + 1vw);
    }

    .tag-wrapper {
        padding: 4%;
        padding-top: 5%;
    }

    .name {
        padding-left: 4%;
        padding-bottom: 4%;
    }


    .tag {
        padding-top: 1%;
        padding-left: 4%;
        display: flex;
    }

    #tag {
        color: white;
        padding-left: 1%;
    }

    .trianlge-right {
        margin-top: 3px;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-left: 15px solid var(--primary-green);
        border-bottom: 8px solid transparent;
    }


    .social-icon-wrapper {
        width: 38px;
        height: 38px;
    }

    .chat {
        padding-top: 10%;
    }

    #chat-btn {
        padding: 4%;
    }

    .stats {
        display: flex;
        background-color: transparent;
    }

    .stats-div {
        position: absolute;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 25%;
    }

    .stats-data {
        display: flex;
        margin-left: 5%;
    }

    .stats-label-column {
        width: 150px;
        padding-left: 3%;
    }

    .profile-picture {
        height: 450px;
        display: flex;
        justify-content: flex-end;
        padding-left: 110%;
        padding-top: 20%;
    }

}