@media only screen and (min-width: 320px) and (max-width: 400px) {
    #app-navbar {
        padding-left: 2%;
    }

    #brand {
        font-size: calc(14px + 1vw);
    }

    .tag-wrapper {
        padding: 4%;
        padding-top: 5%;
    }

    .name {
        padding-left: 4%;
        padding-bottom: 4%;
    }

    .chat {
        padding-top: 20%;
    }

    #chat-btn {
        padding: 4%;
    }

    .stats-container {
        padding-top: 5%;
    }

    .dp {
        position: absolute;
        right: -50px;
        bottom: 0;
        height: 350px;
    }
}