@media only screen and (min-width: 320px) and (max-width: 400px) {
    #app-navbar {
        padding-left: 2%;
    }

    #brand {
        font-size: calc(14px + 1vw);
    }

    .tag-wrapper {
        padding: 4%;
        padding-top: 5%;
    }

    .name {
        padding-left: 4%;
        padding-bottom: 4%;
    }


    .tag {
        padding-top: 1%;
        padding-left: 4%;
        display: flex;
    }

    #tag {
        color: white;
        padding-left: 1%;
    }

    .trianlge-right {
        margin-top: 3px;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-left: 15px solid var(--primary-green);
        border-bottom: 8px solid transparent;
    }


    .social-icon-wrapper {
        padding: 3%;
    }

    .chat {
        padding-top: 10%;
    }

    #chat-btn {
        padding: 4%;
    }

    .stats {
        display: flex;
        background-color: transparent;
    }

    .stats-div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 5%;
    }

    .stats-data {
        display: flex;
        margin-left: 5%;
        padding-top: 20px;
    }

    .stats-label-column {
        width: 150px;
        padding-left: 3%;
    }

    .profile-picture {
        float: right;
        position: relative;
        right: -30%;
        bottom: 10%;
    }

    .dp {
        height: 400px;
    }

    .space {
        padding-top: 0px;
    }

    .about {
        padding-top: 50px;
        flex-direction: column-reverse;
        align-items: center;
    }

    #about-img {
        width: 90%;
    }


    .about-text {
        text-align: center;
    }

    #about-me-heading,
    #about-quote,
    #about-me-text {
        text-align: center;
        width: 90%;
    }

    #about-me-text {
        font-size: 12px;
        line-height: 20px;
    }

    .download-resume {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5%;
    }

    .tech-stack {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #tech-stack-text {
        width: 100%;
    }

    .tech-stack-details {
        width: 100%;
    }

    .stack-illustration {
        padding: 0px;
    }

    #stack-illustration {
        height: 300px;
    }

    .exp-card {
        width: 99%;
        padding-top: 5%;
        padding-bottom: 5%;
        flex-direction: column;
    }

    .exp-detail {
        padding: 0;
        width: 100%
    }

    .community-div {
        padding-left: 1%;
        padding-right: 1%;
        flex-direction: column-reverse;
    }

    .community-card {
        width: 100%;
    }

    .c-title {
        font-size: 14px;
    }

    .cw-info {
        width: 100%;
        justify-self: center;
        align-items: center;
    }

    .cw-number {
        font-size: 24px;
    }

    .cw-stats-div {
        max-width: 100%;
    }

    .calendar {
        width: 330px;
    }

    .year-txt {
        font-size: 14px;
    }

    .year-num {
        font-size: 18px;
    }

    .contact-card {
        width: 330px;
    }

    #meet-btn {
        margin-bottom: 20px;
    }
}